.direct-report {

    .left-panel {
        background-color: #fff;
        height: 100vh;
        padding: 0px;
        border-right: 1px solid #ccc;
    }

    .left-header {
        color: #2980b9;
        font-size: 16px;
        padding: 10px;
        margin: 0px;
    }

    .emp-list-container {
        min-height: 90vh;
        max-height: 90vh;
        overflow-y: auto;
    }

    .search-container {
        position: relative;
        padding: 5px;
        margin: 5px;
        background-color: #ddd;

        i {
            position: absolute;
            top: 6px;
            left: 7px;
            font-size: 18px;
            color: #777;
        }

        input {
            width: 100%;
            border: none;
            padding-left: 25px;
            background-color: transparent;
            outline: none;
        }
    }

    ul {
        list-style: none;
        padding: 10px;

        li {
            display: flex;
            vertical-align: middle;
            padding: 5px 0px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            p {
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.emp-name {
                    font-weight: bold;
                }

                &.emp-position {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: bold;
                    color: #777;
                }
            }
        }
    }
    //Right Panel
    .right-panel {
        background-color: #f5f5f5;
        height: 100vh;
        padding: 0px;

        .detail-header {
            background-color: #ddd;
            padding: 10px;
            margin: 20px;
            height: 53px;

            .btn-grp {
                display: flex;
                padding: 0px 10%;

                .itm {
                    display: grid;
                    text-align: center;
                    cursor: pointer;
                    float: none;
                    margin: auto;
                    position: relative;

                    &:hover {
                        color: #777;
                    }
                }

                i {
                    font-size: 20px;
                    margin-bottom: 3px;
                }

                p {
                    margin: 0px;
                    text-transform: uppercase;
                    font-size: 9px;
                    font-weight: bold;
                }
            }
        }

        .no-selection p {
            text-align: center;
            color: #aaa;
            font-size: 20px;
            margin-top: 25%;
        }

        .detail-container {
            background-color: #fff;
            margin: 20px;
            box-shadow: 0px 1px 1px #888;

            .cover-photo {
                width: 100%;
                min-height: 100px;
                background-color: #34495e;
                position: relative;

                .profile-pic {
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    border-radius: 50%;
                    top: 25px;
                    left: 70px;
                }

                .name, .position {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0px;
                }

                .name {
                    color: #fff;
                    font-size: 25px;
                }

                .position {
                    color: #ccc;
                    font-size: 18px;
                }
            }

            .form-group {
                margin-bottom: 5px !important;
            }

            .scrl {
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 193px;
            }

            .credit-container {
                display: flex;
                margin-bottom: 6px;

                .leave-itm {
                    padding: 10px;
                    background-color: #ccc;
                    border-radius: 6px;
                    max-width: 62px;
                    min-width: 62px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                p {
                    margin: 0px 10px;
                    text-align: center;

                    &.count {
                        font-size: 25px;
                        height: 30px;
                    }

                    &.lbl {
                        text-transform: uppercase;
                        font-size: 9px;
                        font-weight: bold;
                        color: #777;
                    }
                }
            }
        }
    }
}
