@font-face {
    font-family: 'Lato-Black';
    src: url('/Styles/References/fonts/Lato/Lato-Black.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Black.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Black.woff') format('woff');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('/Styles/References/fonts/Lato/Lato-BlackItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-BlackItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-BlackItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('/Styles/References/fonts/Lato/Lato-Bold.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Bold.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('/Styles/References/fonts/Lato/Lato-BoldItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-BoldItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('/Styles/References/fonts/Lato/Lato-Hairline.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Hairline.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Hairline.woff') format('woff');
}
@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('/Styles/References/fonts/Lato/Lato-HairlineItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-HairlineItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-HairlineItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('/Styles/References/fonts/Lato/Lato-Heavy.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Heavy.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('/Styles/References/fonts/Lato/Lato-HeavyItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-HeavyItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-HeavyItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('/Styles/References/fonts/Lato/Lato-Italic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Italic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('/Styles/References/fonts/Lato/Lato-Light.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Light.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Light.woff') format('woff');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('/Styles/References/fonts/Lato/Lato-LightItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-LightItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('/Styles/References/fonts/Lato/Lato-Medium.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Medium.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('/Styles/References/fonts/Lato/Lato-MediumItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-MediumItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('/Styles/References/fonts/Lato/Lato-Regular.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Regular.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('/Styles/References/fonts/Lato/Lato-Semibold.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Semibold.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Lato-SemiboldItalic';
    src: url('/Styles/References/fonts/Lato/Lato-SemiboldItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-SemiboldItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-SemiboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('/Styles/References/fonts/Lato/Lato-Thin.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-Thin.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('/Styles/References/fonts/Lato/Lato-ThinItalic.eot') format('embedded-opentype'), url('/Styles/References/fonts/Lato/Lato-ThinItalic.ttf') format('truetype'), url('/Styles/References/fonts/Lato/Lato-ThinItalic.woff') format('woff');
}