.ions-dashboard {
    background-color: #f5f5f5;
    font-family: segoe ui;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;

    .headr {
        color: #2980b9;
        margin: 15px 0;
        font-weight: bold;
        padding-left: 5%;
    }

    .profile-container {
        background-color: #fff;
        width: 90%;
        padding: 15px;
        float: none;
        margin: auto;
        //border: 2px solid #2980b9;
        box-shadow: 3px 3px 20px #aaa;

        .profile-pic {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            float: none;
            margin: auto;
            background-color: #eee;
        }

        .profile-name {
            margin: 10px 0;
            padding-top: 10px;
            text-align: center;
            font-weight: bold;
            color: #777;
        }

        .profile-dept {
            margin: 0px;
            text-align: center;
        }

        .profile-position {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: #aaa;
            font-size: 11px;
        }

        .grp-btn {
            display: flex;
            margin-top: 30px;

            i {
                width: 50%;
                font-size: 20px;
                color: #7f8c8d;
                text-align: center;
                cursor: pointer;
                padding: 5px 0px;

                &:hover {
                    background-color: #eee;
                }
            }

            .badge {
                bottom: 12px;
                position: relative;
                background-color: #d35400;
            }
        }
    }

    .leavecred-container {
        max-height: 32vh;
        overflow-y: auto;
        overflow-x: hidden;

        .leavecred-itm {
            background-color: #fff;
            width: 90%;
            padding: 5px;
            float: none;
            margin: auto;
            display: flex;
            margin-bottom: 10px;
            //border: 2px solid #2980b9;
            box-shadow: 2px 2px 6px #ccc;

            .cred-title {
                margin: 0px;
                font-size: 18px;
                font-weight: bold;
                color: #555;
                background-color: #eee;
                padding: 12px;
                max-width: 100px;
                min-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                border-radius: 6px;
            }

            .itm {
                display: grid;
                text-align: center;
                float: none;
                margin: auto;

                .cred-count {
                    margin: 0px;
                    font-size: 25px;
                }

                .cred-desc {
                    margin: 0px;
                    font-size: 10px;
                    font-weight: bold;
                    color: #555;
                }
            }
        }
    }

    .ann-container {
        width: 100%;
        background-color: #fff;
        padding: 25px 10px;
        margin: 0;

        .date-container {
            text-align: center;
            height: 115px;
            padding-right: 20px;

            .month {
                margin: 0;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                color: #555;
            }

            .day {
                margin: 0;
                font-size: 60px;
                position: relative;
                top: -24px;
                color: #2980b9;
            }

            .pday {
                margin: 0;
                text-transform: uppercase;
                font-weight: bold;
                color: #aaa;
                font-size: 11px;
                position: relative;
                top: -37px;
            }
        }

        .ann-header {
            font-weight: bold;
            color: #777;
            font-size: 16px;
        }
    }

    .custom-tab-content .tab-pane > div {
        display: flex;
        flex-wrap: wrap;
    }

    .custom-nav {
        margin-top: 20px;

        li {
            margin-top: 20px;

            &.active {
                a {
                    color: #2980b9;
                }
            }

            a {
                background-color: transparent !important;
                border: none !important;
                padding-left: 0;
                font-weight: bold;
                color: #aaa;
                margin-right: 20px;
            }
        }
    }

    .app-itm {
        background-color: #fff;
        padding: 10px;
        display: grid;
        position: relative;
        text-align: center;
        width: 130px;
        height: 130px;
        margin-right: 10px;
        margin-top: 25px;
        border: 1px solid #2980b9;
        box-shadow: 2px 2px 6px #ccc;
        transition: background-color .3s;

        .app-icon {
            font-size: 60px;
            color: #2980b9;
            padding-top: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: color .3s;
        }

        .badge {
            position: absolute;
            right: -10px;
            top: -10px;
            font-weight: normal;
            font-size: 14px;
            background-color: #d35400;
        }

        .app-title {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
            color: #777;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color .3s;
        }

        &:hover {
            background-color: #2980b9;
            transition: background-color .3s;

            .app-icon {
                color: #fff;
                transition: color .3s;
            }

            .app-title {
                color: #fff;
                transition: color .3s;
            }
        }
    }

    #crslAnn {
        padding: 0px;
        //border: 2px solid #2980b9;
        box-shadow: 3px 4px 20px #aaa;

        .carousel-indicators {
            position: absolute;
            width: auto;
            margin: 0px;
            bottom: 0px;
            left: 25px;

            li {
                border: 1px solid #ddd;
                background-color: #ddd;
            }

            .active {
                border: 1px solid #555 !important;
                background-color: #555 !important;
            }
        }
    }

    .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-control {
        z-index: 2;
    }

    @media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-fade .carousel-inner > .item.next,
        .carousel-fade .carousel-inner > .item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .carousel-fade .carousel-inner > .item.prev,
        .carousel-fade .carousel-inner > .item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .carousel-fade .carousel-inner > .item.next.left,
        .carousel-fade .carousel-inner > .item.prev.right,
        .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}
