.my-profile {
    .custom-tabs-left {
        float: left;
        height: 100vh;
        background-color: #fff;
        border-right: 1px solid #ccc;
        min-width: 220px;
        max-width: 220px;

        li {
            &.thumb {
                float: none;
                border-bottom: 1px solid #ccc;
                background-color: #ecf0f1;

                .thumb-container {
                    padding: 12px 0px;

                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-color: transparent;
                        background-size: cover!important;
                    }

                    .camera {
                        position: absolute;
                        top: 55px;
                        left: 95px;
                        color: #fff;
                        z-index: 3;
                        font-size: 30px;
                        cursor: pointer;
                        display: none;
                        text-shadow: 0 2px 14px #333;

                        &.camera-toggle {
                            display: initial;
                        }
                    }
                }

                p {
                    &.name {
                        font-size: 16px;
                        text-align: center;
                        font-weight: bold;
                        color: #555;
                        padding: 5px 10px;
                        margin: 0px;
                    }

                    &.contact, &.email, &.position {
                        text-align: center;
                        margin: 0px;
                    }

                    &.contact, &.email {
                        padding: 5px 0px;
                        background-color: #f5f5f5;

                        i {
                            color: #777;
                        }
                    }

                    &.position {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            &.side-tab {
                float: none;
                margin: 0;
                border-bottom: 1px solid #ccc;

                a {
                    border-radius: 0px;
                    font-size: 14px;
                    padding: 10px 25px;
                }
            }

            a {
                margin-right: 0;
                border: 0;
                color: #555;
                transition: all .3s;

                &:hover {
                    background-color: #ccc;
                    transition: all .3s;
                }
            }
        }
    }

    .tabs-left > .side-tab.active > a, .tabs-left > .side-tab.active > a:hover, .tabs-left > .side-tab.active > a:focus {
        border: 0;
        background-color: $PrimaryColor;
        color: #fff;
    }

    .custom-tab-content {
        overflow-y: auto;
        width: 100%;
        padding: 15px;
        background-color: #f5f5f5;

        .tab-pane {
            display: none;
            padding: 0px;
            overflow-y: auto;

            .heading {
                font-size: 25px;
                color: #555;
                border-bottom: 1px solid #aaa;
            }
        }


        #a1, #b1 {
            margin-top: 5px;
        }

        .active {
            display: block;
        }
    }

    .profile-panel {
        min-width: 0px;
        border-left: 1px solid #ccc;
        transition: all .1s;

        .profile-header {
            font-weight: bold;
            color: #777;
            text-align: left;
            padding: 5px;
            display: none;
            background-color: #ddd;
        }

        .profile-list div {
            cursor: pointer;
            color: #777;
            padding: 5px;
            display: none;
            white-space: nowrap;
            font-weight: bold;

            &:hover {
                background-color: #ccc;
            }
        }

        &.profile-toggled {
            min-width: 240px;
            border-right: 1px solid #ccc;
            transition: all .1s;

            .profile-header {
                display: block;
            }

            .profile-list div {
                display: flex;
            }
        }
    }

    .profile-container {
        max-height: 80vh;
        min-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;

        .profile-content {
            min-height: 400px;
            background-color: #fff;
            padding: 15px;
            margin: 10px;
            box-shadow: 3px 4px 15px #888888;

            .title-head {
                font-size: 20px;
                color: $PrimaryColor;
            }

            .form-group {
                label {
                    color: #555;
                    font-weight: normal;
                    margin-bottom: 2px;
                    text-align: left;
                    font-weight: bold;
                }

                p {
                    margin: 0px;
                }

                input, select {
                    background-color: #f5f5f5;
                    border-radius: 0;
                    border: none;
                    color: #333;
                    padding: 0 10px;
                    height: 30px;
                    box-shadow: none;
                    border-left: 5px solid #ddd;
                }

                input {
                    &[required="required"] {
                        border-left: 5px solid #c0392b;
                    }

                    &.form-control[disabled],
                    &.form-control[readonly] {
                        border-left: 5px solid #aaa;
                        cursor: not-allowed;
                    }
                }
            }

            .table-responsive {
                min-height: 362px;
                max-height: 362px;
                border: 1px solid #e0e0e0;
            }

            table {
                width: 100%;

                thead {
                    tr {
                        th {
                            white-space: nowrap;
                            border-color: $PrimaryColor;
                            min-width: 200px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            white-space: nowrap;
                            min-width: 200px;
                        }
                    }
                }
            }
        }
    }
}
