<!--<canvas ng-if="widgetType == 3" id="pie" class="chart chart-pie"
        chart-data="chartValue" chart-labels="chartLabels">
</canvas>
<canvas ng-if="widgetType == 4" id="bar" class="chart chart-bar"
        chart-data="chartValue" chart-labels="chartLabels" chart-series="chartSeries">
</canvas>
<canvas ng-if="widgetType == 5" id="doughnut" class="chart chart-doughnut"
        chart-data="chartValue" chart-labels="chartLabels">
</canvas>
<canvas ng-if="widgetType == 6" id="base" class="chart-horizontal-bar"
        chart-data="chartValue" chart-labels="chartLabels" chart-series="chartSeries">
</canvas>
<canvas ng-if="widgetType == 7" id="line" class="chart chart-line"
        chart-data="chartValue" chart-labels="chartLabels" chart-series="chartSeries">
</canvas>-->
<div id="chartTest" style="width:100%;margin-top:-30px;height:327px;"></div>