
<!DOCTYPE html>
<html>
<head>
    <title>InSys - Page is Unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
</head>
<style>
  

    .w3-blue, .w3-hover-blue:hover {
        color: #fff !important;
        background-color: #2196F3 !important
    }

    .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before
    .w3-blue-grey, .w3-hover-blue-grey:hover, .w3-blue-gray, .w3-hover-blue-gray:hover {
        color: #fff !important;
        background-color: #607d8b !important
    }

    .w3-container, .w3-panel {
        padding: 0.01em 16px
    }

    .w3-panel {
        margin-top: 16px;
        margin-bottom: 16px
    }

        .w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before,
        .w3-container, .w3-panel {
            padding: 0.01em 16px
        }

    .w3-panel {
        margin-top: 16px;
        margin-bottom: 16px
    }

    a:hover {
        background-color: #fff !important;
        color: #2196F3 !important
    }

</style>
<body>

    <div class="w3-container">
        <div class="w3-panel w3-blue" style="height:300px;  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.4);">


            <h2 style="font-family: Verdana	">Your session in this transaction has expired.</h2>
            <h3>Possible reasons:</h3>
<pre style="font-family: Georgia, serif; font-size: 12pt;">
*Application was cancelled.
*Application already approved and moved to the next approver.

<span style="font-style: italic; font-family: Arial;">If the following reasons did not occur above please contact your system administrator.</span>
</pre><br /><br /><br />
            <a href="javascript:void(0)" onclick="goBack()" style="font-weight: bold; font-family: Arial; color:white; text-align: left; text-decoration:none; "><< Back to Previous Transaction</a>
            <a href="Index#!/IONSDashboard" style="font-weight: bold; font-family: Arial; color:white; float: right; text-decoration:none; ">Home >></a>

        </div>
        <p style="font-family: Lato-Regular; color:#bdc3c7; ">&#9400; Intellismart Technology Inc.</p>
    </div>

    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>