
@{
    ViewBag.Title = "PasswordSetUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="change-password">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 login-holder">
                <div class="side-bar-logo">
                    <div class="side-bar-overlay"></div>
                    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" style="background: url(../../Contents/Images/s1.jpg) no-repeat">
                            </div>
                            <div class="item" style="background: url(../../Contents/Images/s2.jpg) no-repeat">
                            </div>
                            <div class="item" style="background: url(../../Contents/Images/s3.jpg) no-repeat">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-container">
                    <div class="login-inner">
                        <form>
                            <p class="login-title"><span><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" /></span> Change password</p>
                            <div class="control-group">
                                <input type="password" class="form-control" placeholder="Current password" ng-inj-validator/>
                            </div>
                            <div>
                                <div class="control-group">
                                    <input type="password" class="form-control" placeholder="New password" ng-inj-validator/>
                                </div>
                            </div>
                            <div>
                                <div class="control-group">
                                    <input type="password" class="form-control" placeholder="Confirm password" ng-inj-validator/>
                                </div>
                            </div>
                            <center>
                                <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 bg-holder">
                <div class="app-bg">
                    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            <div class="item active" style="background: url(../../Contents/Images/s1.jpg) center center no-repeat">
                            </div>
                            <div class="item" style="background: url(../../Contents/Images/s2.jpg) center center no-repeat">
                            </div>
                            <div class="item" style="background: url(../../Contents/Images/s3.jpg) center center no-repeat">
                            </div>
                        </div>
                    </div>

                    <div class="app-bg-overlay"></div>

                    <div class="insys">
                        <p class="main-text">InSys</p>
                        <p class="sub-text">Integrated System | Powered by Intellismart</p>
                    </div>
                </div>
            </div>
            <p class="text-footer">&#9400; Intellismart Technology Inc.</p>
        </div>
    </div>
</div>

